<%= content_tag_for(:li, post) do %>
  <p><b><%= post.name %></b> say that: </p>
  <p><%= post.content %></p>
  <span class="age">Posted at <%= time_ago_in_words(post.created_at) %> ago.
  (<%= link_to 'Delete', article_post_path(@article, post), :confirm => 'Are you sure?', :method => :delete, :remote => true %>)</span>
<% end %>
